- name: Download Needed Packages
  community.general.apk:
    name:
      - iptables
    state: present

- name: Enable cgroups in rc.conf
  ansible.builtin.lineinfile:
    path: /etc/rc.conf
    regexp: '^rc_cgroup_mode='
    line: 'rc_cgroup_mode="unified"'

- name: Enable cgroups service
  ansible.builtin.service:
    name: cgroups
    enabled: true
    state: restarted

- name: Create k3s directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "755"
    owner: "root"
    group: "root"
  loop:
    - /var/lib/rancher/k3s/tmp
    - /etc/rancher/k3s
    - /var/lib/rancher/k3s

- name: Download k3s binary
  ansible.builtin.get_url:
    url: "{{ url }}"
    dest: /var/lib/rancher/k3s/tmp/k3s
    mode: "0755"

- name: Move k3s binary to /usr/local/bin
  ansible.builtin.copy:
    src: "/var/lib/rancher/k3s/tmp/k3s"
    dest: /usr/local/bin/k3s
    mode: "0755"
    remote_src: true

- name: Create k3s system file
  ansible.builtin.template:
    src: k3s.j2
    dest: /etc/init.d/k3s
    mode: "0755"

- name: Create k3s config file
  ansible.builtin.template:
    src: k3s.yaml.j2
    dest: /etc/rancher/k3s/k3s.yaml
    mode: "0644"

- name: Remove temporary folder
  ansible.builtin.file:
    path: /var/lib/rancher/k3s/tmp
    state: absent

- name: Start k3s service
  ansible.builtin.service:
    name: k3s
    state: restarted
    enabled: true

- name: Wait for k3s token file
  ansible.builtin.wait_for:
    path: /var/lib/rancher/k3s/server/node-token
    state: present
    timeout: 30
  when: server_ip is not defined or k3s_server_token is not defined

- name: Read k3s token
  ansible.builtin.command: cat /var/lib/rancher/k3s/server/node-token
  register: k3s_token_output
  changed_when: false
  when: server_ip is not defined or k3s_server_token is not defined

- name: Set k3s token fact
  ansible.builtin.set_fact:
    k3s_server_token: "{{ k3s_token_output.stdout | trim }}"
  when: server_ip is not defined or k3s_server_token is not defined

- name: Display k3s token
  ansible.builtin.debug:
    msg: "K3S Token: {{ k3s_server_token }}"
  when: server_ip is not defined or k3s_server_token is not defined

- name: Enable Alpine community repository
  ansible.builtin.lineinfile:
    path: /etc/apk/repositories
    regexp: '^#\s*(.*community.*)'
    line: '\1'
    backrefs: true
    state: present

- name: Update APK cache
  community.general.apk:
    update_cache: true

- name: Install python3 Kubernetes client
  community.general.apk:
    name: py3-kubernetes
    state: present

- name: Replace 127.0.0.1 in kubeconfig with host IP
  ansible.builtin.replace:
    path: "/etc/rancher/k3s/k3s.yaml"
    regexp: 'https://127\.0\.0\.1:6443'
    replace: 'https://{{ ansible_host }}:6443'
