#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    tcp
    log                     global
    option                  tcplog
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          30s
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend main
    bind *:{{ haproxy_port }}
    mode tcp
    default_backend db

backend db
    mode tcp
    option tcp-check
    timeout connect 5s
    timeout server 30s

    tcp-check send-binary 3d00000001000000ffffffffd407000000000000746573742e24636d640000000000ffffffff170000000169734d617374657200000000000000f03f00
    tcp-check expect binary 0869736d61737465720001

    {% for i in range(replica_set_members | length) %}
    {% if i != arbiter_index %}
    server {{ replica_set_names[i] }} {{ replica_set_members[i] }}:{{ mongodb_port }} check
    {% endif %}
    {% endfor %}

#---------------------------------------------------------------------
# HAProxy Statistics and Prometheus Metrics
#---------------------------------------------------------------------
listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 10s
    stats show-legends
    stats show-desc MongoDB HA Cluster
    http-request use-service prometheus-exporter if { path /metrics }
