- name: Install Need Package
  community.general.apk:
    update_cache: false
    name:
      - tar
    state: installed

- name: Make etcd group
  ansible.builtin.group:
    name: etcd
    state: present
    system: true

- name: Make etcd user
  ansible.builtin.user:
    name: etcd
    group: etcd
    system: true
    shell: /sbin/nologin
    home: /var/lib/etcd
    create_home: true
    state: present

- name: Make etcd folder
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: etcd
    group: etcd
    mode: "755"
  loop:
    - /var/lib/etcd
    - /var/lib/etcd/tmp
    - /etc/etcd

- name: Install etcd tar file
  ansible.builtin.get_url:
    url: "{{ etcd_download_url }}"
    dest: /var/lib/etcd/tmp/etcd.tar.gz
    mode: "755"

- name: Untar tar file
  ansible.builtin.unarchive:
    src: /var/lib/etcd/tmp/etcd.tar.gz
    dest: /var/lib/etcd/tmp
    mode: "755"
    remote_src: true

- name: Move files
  ansible.builtin.copy:
    src: "/var/lib/etcd/tmp/etcd-v{{ etcd_version }}-linux-amd64/{{ item }}"
    dest: /usr/local/bin/
    mode: "755"
    remote_src: true
  loop:
    - etcd
    - etcdctl
    - etcdutl

- name: Add system file
  ansible.builtin.template:
    src: etcd.j2
    dest: /etc/init.d/etcd
    mode: "755"

- name: Remove temp folder
  ansible.builtin.file:
    path: /var/lib/etcd/tmp
    state: absent

- name: Start Etcd
  ansible.builtin.service:
    name: etcd
    state: started
    enabled: true

- name: Remove temp Package
  community.general.apk:
    update_cache: false
    name:
      - tar
    state: removed

- name: Set enable status
  ansible.builtin.lineinfile:
    path: /etc/conf.d/etcd
    regexp: '^export ETCD_INITIAL_CLUSTER_STATE='
    line: 'export ETCD_INITIAL_CLUSTER_STATE=existing'
    state: present
