- name: Make temp folder
  ansible.builtin.file:
    path: /var/lib/tmp
    state: directory
    mode: "0755"

- name: Download mongodb_exporter
  ansible.builtin.get_url:
    url: https://github.com/percona/mongodb_exporter/releases/download/v{{ exporter_version }}/mongodb_exporter-{{ exporter_version }}.linux-64-bit.deb
    dest: /var/lib/tmp/exporter.deb
    mode: "0755"

- name: Install mongodb_exporter
  ansible.builtin.apt:
    deb: /var/lib/tmp/exporter.deb
    state: present

- name: Remove temp folder
  ansible.builtin.file:
    path: /var/lib/tmp
    state: absent

- name: Make systemFile
  ansible.builtin.template:
    src: mongodb-exporter.j2
    dest: /etc/systemd/system/mongodb_exporter.service
    mode: "0644"
    owner: root
    group: root

- name: Make mongodb_exporter folder
  ansible.builtin.file:
    path: /var/log/mongodb_exporter
    state: directory
    owner: mongodb_exporter
    group: mongodb_exporter
    mode: "755"

- name: Reload daemon
  ansible.builtin.systemd:
    daemon_reload: true

- name: Enable and start mongodb_exporter service
  ansible.builtin.systemd:
    name: mongodb_exporter
    enabled: true
    state: restarted
