- name: Install Grafana
  community.general.apk:
    name: grafana
    state: present

- name: Create Grafana NFS directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0777"
  loop:
    - /mnt/observability/grafana
    - /mnt/observability/grafana/provisioning
    - /mnt/observability/grafana/provisioning/alerting
    - /mnt/observability/grafana/provisioning/dashboards
    - /mnt/observability/grafana/provisioning/datasources
    - /mnt/observability/grafana/provisioning/notifiers
    - /mnt/observability/grafana/provisioning/plugins
    - /mnt/observability/grafana/dashboards

- name: Configure Grafana
  ansible.builtin.template:
    src: grafana.ini.j2
    dest: /etc/grafana.ini
    owner: grafana
    group: grafana
    mode: "0640"

- name: Remove start_pre function from init.d
  ansible.builtin.blockinfile:
    path: /etc/init.d/grafana
    marker: "# {mark} ANSIBLE MANAGED BLOCK - start_pre removal"
    block: ""
    insertafter: "^depend\\(\\)"
    state: absent

- name: Create init.d file
  ansible.builtin.template:
    src: grafana.j2
    dest: /etc/init.d/grafana
    mode: "0777"

- name: Configure conf.d to match grafana.ini settings
  ansible.builtin.lineinfile:
    path: /etc/conf.d/grafana
    regexp: "{{ item.regexp }}"
    line: "{{ item.line | default(omit) }}"
    state: "{{ item.state | default('present') }}"
  loop:
    - regexp: '^cfg:paths\.data='
      line: 'cfg:paths.data=/mnt/observability/grafana'
    - regexp: '^cfg:paths\.provisioning='
      line: 'cfg:paths.provisioning=/mnt/observability/grafana/provisioning'
    - regexp: '^cfg:paths\.plugins='
      line: 'cfg:paths.plugins=/var/lib/grafana/plugins'
    - regexp: '^cfg:log\.mode='
      line: 'cfg:log.mode=console file"'
    - regexp: '^cfg:server\.http_addr='
      state: absent

- name: Deploy datasource provisioning
  ansible.builtin.template:
    src: provisioning/datasources/datasources.yml.j2
    dest: /mnt/observability/grafana/provisioning/datasources/datasources.yml
    mode: "0777"

- name: Deploy dashboard provisioning
  ansible.builtin.template:
    src: provisioning/dashboards/dashboards.yml.j2
    dest: /mnt/observability/grafana/provisioning/dashboards/dashboards.yml
    mode: "0777"

- name: Deploy dashboards
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "/mnt/observability/grafana/dashboards/{{ item | basename | regex_replace('\\.j2$', '') }}"
    mode: "0777"
  loop:
    - dashboards/homelab-overview.json.j2
    - dashboards/node-exporter-full.json.j2
    - dashboards/postgresql-ha.json.j2
    - dashboards/mongodb-ha.json.j2
    - dashboards/redis-ha.json.j2
    - dashboards/haproxy-stats.json.j2
    - dashboards/nginx-metrics.json.j2
    - dashboards/loki-logs.json.j2
    - dashboards/zot-metrics.json.j2
    - dashboards/truenas_scale.json.j2
- name: Enable and start Grafana
  ansible.builtin.service:
    name: grafana
    state: restarted
    enabled: true
