pages:
  - name: home
    columns:
      - size: small
        widgets:
          - type: calendar
            first-day-of-week: monday
      - size: full
        widgets:
          - type: hacker-news
          - type: monitor
            cache: 1m
            title: Services
            sites:  
              - title: opnsense
                url: https://opnsense.bytedev.duckdns.org
                icon: sh:opnsense
              - title: proxmox
                url: https://proxmox.bytedev.duckdns.org
                icon: sh:proxmox
              - title: technitium0
                url: https://technitium0.bytedev.duckdns.org
                icon: sh:technitium
              - title: technitium1
                url: https://technitium1.bytedev.duckdns.org
                icon: sh:technitium
              - title: truenas
                url: https://truenas.bytedev.duckdns.org
                icon: sh:truenas-scale
              - title: gitea
                url: https://gitea.bytedev.duckdns.org
                icon: sh:gitea
              - title: rustfs
                url: https://rustfs.bytedev.duckdns.org
                icon: sh:amazon-s3
              - title: grafana
                url: https://grafana.bytedev.duckdns.org
                icon: sh:grafana
              - title: convertx
                url: https://convertx.bytedev.duckdns.org
                icon: sh:convertX  

          - type: docker-containers
            cache: 1m
            containers:
              portainer:
                name: portainer
                description: manager docker
                url: https://portainer.bytedev.duckdns.org
                icon: si:portainer
                hide: false
              glance:
                name: glance
                icon: di:glance
                description: dashboard
                url: https://glance.bytedev.duckdns.org
                hide: false
      - size: small
        widgets:
          - type: weather
            location: daegu, South Korea
            units: metric
            hour-format: 12h
          - type: dns-stats
            service: technitium
            url: https://technitium0.bytedev.duckdns.org
            token: {{ technitium0_apikey }}
          - type: dns-stats
            service: technitium
            url:  https://technitium1.bytedev.duckdns.org
            token: {{ technitium1_apikey }}