#!/bin/bash

NFS_SERVER={{ truenas_ip }}
RETRY_COUNT={{ truenas_check_retry_count }}
SLEEP_SEC={{ truenas_check_sleep_sec }}

check_nfs() {
    if showmount -e "$NFS_SERVER" &>/dev/null; then
        return 0
    fi
    return 1
}

for i in $(seq 1 $RETRY_COUNT); do
    if check_nfs; then 
        exit 0
    fi
    sleep $SLEEP_SEC
done 

exit 1