server {
    listen {{ item.listen_port }} ssl;
    server_name {{ item.domain }};
    
    ssl_certificate     /etc/nginx/ssl/{{ domain_filename }}.cer;
    ssl_certificate_key /etc/nginx/ssl/{{ domain_filename }}.key;

    include /etc/nginx/stream.d/internal.conf;
    proxy_pass {{ item.ip }}:{{ item.port }};
}