---
- name: Install prometheus-node package
  ansible.builtin.apt:
    name:
      - prometheus-node-exporter
    state: present

- name: Enable and start node service
  ansible.builtin.systemd:
    name: prometheus-node-exporter
    enabled: true
    state: restarted
