---
- name: Install prometheus-node package
  ansible.builtin.apt:
    name:
      - prometheus-node-exporter
    state: present

- name: Configure node-exporter to disable nfsd collector
  ansible.builtin.lineinfile:
    path: /etc/default/prometheus-node-exporter
    regexp: '^ARGS='
    line: 'ARGS="--no-collector.nfsd"'
    create: true
    mode: '0644'

- name: Enable and start node service
  ansible.builtin.systemd:
    name: prometheus-node-exporter
    enabled: true
    state: restarted
