- name: Create argocd namespace
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: argocd
    state: present
    kubeconfig: /etc/rancher/k3s/k3s.yaml
- name: Apply Argo CD manifest
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    namespace: argocd
    src: https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

- name: Install argocd cli
  ansible.builtin.get_url:
    url: https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
    dest: /usr/local/bin/argocd
    mode: "0555"

- name: Create kubeconfig export file
  ansible.builtin.copy:
    dest: /etc/profile.d/kubeconfig.sh
    content: |
      export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
    owner: root
    group: root
    mode: '0644'

- name: Configure ArgoCD server insecure mode
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    namespace: argocd
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: argocd-cmd-params-cm
      data:
        server.insecure: "true"

- name: Restart ArgoCD
  ansible.builtin.command:
    "k3s kubectl rollout restart deployment argocd-server -n argocd"
  changed_when: "true"

- name: Create ArgoCD Ingress
  kubernetes.core.k8s:
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    state: present
    namespace: argocd
    definition:
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: argocd-server-ingress
      spec:
        ingressClassName: traefik
        rules:
          - http:
              paths:
                - path: /
                  pathType: Prefix
                  backend:
                    service:
                      name: argocd-server
                      port:
                        number: 80
