[Unit]
Description=pbm-agent for mongod
After=time-sync.target network.target    

[Service]
EnvironmentFile=-/etc/default/pbm-agent
Type=simple
User=mongod
Group=mongod
PermissionsStartOnly=true
ExecStart=/usr/bin/pbm-agent    

[Install]
WantedBy=multi-user.target