- name: Install Need Package
  community.general.apk:
    update_cache: false
    name:
      - unzip
    state: installed

- name: Make rustfs group
  ansible.builtin.group:
    name: rustfs
    state: present
    system: true

- name: Make rustfs user
  ansible.builtin.user:
    name: rustfs
    group: rustfs
    system: true
    shell: /sbin/nologin
    home: /var/lib/rustfs
    create_home: true
    state: present

- name: Make rustfs folder
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: rustfs
    group: rustfs
    mode: "755"
  loop:
    - /var/lib/rustfs
    - /var/lib/rustfs/tmp

- name: Install rustfs zip file
  ansible.builtin.get_url:
    url: "{{ rustfs_install_url }}"
    dest: /var/lib/rustfs/tmp/rustfs-linux-x86_64-musl-latest.zip
    mode: "755"

- name: Unzip rustfs archive
  ansible.builtin.unarchive:
    src: "/var/lib/rustfs/tmp/rustfs-linux-x86_64-musl-latest.zip"
    dest: /var/lib/rustfs/tmp
    mode: "755"
    remote_src: true

- name: Move files
  ansible.builtin.copy:
    src: "/var/lib/rustfs/tmp/rustfs"
    dest: /usr/local/bin/
    mode: "755"
    remote_src: true

- name: Add system file
  ansible.builtin.template:
    src: rustfs.j2
    dest: /etc/init.d/rustfs
    mode: "755"

- name: Remove temp folder
  ansible.builtin.file:
    path: /var/lib/rustfs/tmp
    state: absent

- name: Start Rustfs
  ansible.builtin.service:
    name: rustfs
    state: started
    enabled: true

- name: Remove temp Package
  community.general.apk:
    update_cache: false
    name:
      - unzip
    state: removed
