[Unit]
Description=llama.cpp server
After=network.target

[Service]
Type=simple
User=llamacpp
Group=llamacpp
WorkingDirectory=/var/lib/llamacpp

ExecStart=/usr/local/bin/llama-server --host {{ llama_host }} --port {{ llama_port }} -hf {{ llama_model_file }} -ngl {{ llama_gpu_layers }}  --ctx-size {{ llama_ctx_size }}

Restart=on-failure
RestartSec=10

StandardOutput=append:/var/log/llamacpp/server.log
StandardError=append:/var/log/llamacpp/server-error.log

[Install]
WantedBy=multi-user.target
