- name: Install Need packge
  ansible.builtin.apt:
    name:
      - gpg
    state: present

- name: Key download
  ansible.builtin.get_url:
    url: https://pkg.jenkins.io/debian/jenkins.io-2026.key
    dest: /etc/apt/keyrings/jenkins-keyring.asc
    mode: "0644"

- name: docker key downlaod
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: "0644"

- name: Add Jenkins APT repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/jenkins-keyring.asc]  https://pkg.jenkins.io/debian binary/"
    filename: jenkins
    state: present

- name: Add docker APT repository 
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/debian trixie stable"
    state: present
    filename: docker

- name: Update
  ansible.builtin.apt:
    update_cache: true

- name: Install Need packge
  ansible.builtin.apt:
    name:
      - jenkins
      - openjdk-21-jre
      - fontconfig
      - docker-ce-cli
      - git
    state: present

- name: Remove gpg
  ansible.builtin.apt:
    name: 
      - gpg
    state: absent

- name: Remove comment from Jenkins systemd unit file
  ansible.builtin.lineinfile:
    path: /usr/lib/systemd/system/jenkins.service
    regexp: '^#Environment="JENKINS_LOG=.*"$'
    line: 'Environment="JENKINS_LOG=/var/log/jenkins/jenkins.log"'
    backrefs: true
    state: present

- name: Reload jenkins
  ansible.builtin.systemd:
    daemon_reload: true

- name: Insert docker environment
  ansible.builtin.lineinfile:
    path: "/etc/environment"
    line: "export DOCKER_HOST=192.168.2.20:2375"
    state: present

- name: Start jenkins
  ansible.builtin.systemd:
    name: jenkins
    state: restarted
    enabled: true
